<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(153, 99, 33); border-bottom: 1px solid #dbae32;">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/" style="color: #C9A84C; font-size: 1.5rem;">
      روان للعود 🌿
    </a>
    <button class="navbar-toggler" type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
      data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="!isMenuCollapsed" id="navMenu">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" routerLink="/" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}" (click)="isMenuCollapsed = true">
           <i class="bi bi-house-door"></i> Home 
        </a>
        <a class="nav-link" routerLink="/table" routerLinkActive="active"
           (click)="isMenuCollapsed = true">
          <i class="bi bi-grid"></i> Table 
        </a>
        <a class="nav-link" routerLink="/create" routerLinkActive="active"
           (click)="isMenuCollapsed = true">
          <i class="bi bi-plus-circle"></i> Create Parfüm
        </a>
      </div>
    </div>
  </div>
</nav>