<div class="luxury-3d-card">
  
  <h3 class="title-lux">Neues Parfüm hinzufügen ➕</h3>
  
  <form (ngSubmit)="speichern()" class="d-flex flex-column">
    
    <label for="name" class="form-label mb-1 ms-1 text-mutedSmall">Parfümname</label>
    <input type="text" id="name" class="form-control input-lux" name="name" [(ngModel)]="neuesParfuem.name" required placeholder="z.B. Chanel No. 5">

    <label for="marke" class="form-label mb-1 ms-1 text-mutedSmall">Marke</label>
    <input type="text" id="marke" class="form-control input-lux" name="marke" [(ngModel)]="neuesParfuem.marke" required placeholder="z.B. Chanel">

    <label for="preis" class="form-label mb-1 ms-1 text-mutedSmall">Preis (€)</label>
    <input type="number" id="preis" class="form-control input-lux" name="preis" [(ngModel)]="neuesParfuem.preis" required>

    <div class="d-flex gap-2 mt-2">
      <button type="submit" class="btn btn-save-lux flex-grow-1">Speichern (حفظ)</button>
      <a routerLink="/table" class="btn btn-cancel-lux">Abbrechen</a>
    </div>
    
  </form>
</div>